**/node_modules/**
**/.vite-node
samples/**
*.mjs
output/*
dist/**
docs/**
framefusion-*.tgz
__image_snapshots__/__diff_output__/**

# We are using yarn, this is a npm file
package-lock.json
__diff_output__